[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  NODE_OPTIONS = "--max-old-space-size=32768"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200